#background-img {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            object-fit: contain; /* Cambiado de 'cover' a 'contain' para que no se recorte */
            z-index: -1;
            background-color: #000; /* Fondo negro para los bordes que sobren */
        }